*{
    box-sizing: border-box;
}

/*--------------------------------------------------------------------*/
/*-----------------------Exercice 1-----------------------------------*/
/*--------------------------------------------------------------------*/


#plan1{
    margin: auto;
    height: 250px;
    width: 400px;
    background: darkgrey;
    padding: 5px;
}

h2, h1
{
    text-align: center;
}

#carre
{
    position: relative;
    background: cyan;
    width: 100px;
    height: 100px;
    top: 50px;
    margin: auto;
    animation: carre;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}

@keyframes carre
{
    0% {background: tomato;transform: rotate(600deg);}
    25% {background: tomato; transform: rotate(1200deg);}
    50% {background: tomato; transform: rotate(2400deg);}
    75% {background: tomato; transform: rotate(4800deg);}
    100% {background: tomato;transform: rotate(9600deg);}
}
/*--------------------------------------------------------------------*/
/*-----------------------Exercice 2-----------------------------------*/
/*--------------------------------------------------------------------*/
#plan2{
    margin: auto;
    height: 250px;
    width: 400px;
    background: darkgrey;
    padding: 5px;
}
#zone2{
    height: 78%;
    margin: auto;
    width: 25px;
}

#balle{
    background:red;
    position: relative;
    border-radius:50%;
    width: 25px;
    height: 25px;
    border:4px solid black;
    animation: rebond;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rebond{
    0% {top : 0px;}
    10% {transform: translateY(145px);}
    20% {transform: translateY(100px);}
    30% {transform: translateY(145px);}
    40% {transform: translateY(110px);}
    50% {transform: translateY(145px);}
    60% {transform: translateY(120px);}
    70% {transform: translateY(145px);}
    80% {transform: translateY(135px);}
    100% {transform: translateY(145px);}
}




/*--------------------------------------------------------------------*/
/*-----------------------Exercice 3-----------------------------------*/
/*--------------------------------------------------------------------*/

#plan3{
    margin: auto;
    height: 250px;
    width: 400px;
    background: darkgrey;
    padding: 5px;

}
#grpFeu{
    display: flex;
    justify-content: space-around;
    height: 200px;
}
.rond{
    background:black;
    border-radius:50%;
    width: 30%;
    height: 40%;
    border:2px solid black;
}
#rond1{
    box-sizing: border-box;
    animation-name: change;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#rond2{ 
    animation-name: change;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#rond3{
    animation-name: change;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

@keyframes change{
    0% {background: white;}
    50% {background: red;}
    100% {background: black;}
}

p{
    position: absolute;
    top:300px;
}

/*--------------------------------------------------------------------*/
/*-----------------------Exercice 4-----------------------------------*/
/*--------------------------------------------------------------------*/

#plan4{
    position: relative;
    height: 250px;
    width: 600px;
    background: darkgrey;
    padding: 10px;
    margin: auto;
}

#anim1, #anim2, #anim3, #anim4, #anim5, #anim6{
    position: absolute;
    text-align: center;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    animation-name: queue;
}

#anim1{
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#anim2{
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

#anim3{
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

#anim4{
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

#anim5{
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}

#anim6{
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

@keyframes queue{
    0% {background: rgb(255, 91, 91); top: 5px; left:10px;}
    10% {background: rgb(105, 105, 255); top: 5px; left:580px; transform: rotate(360deg);}
    25% {background: rgb(116, 255, 116); top: 230px; left:580px; transform: rotate(720deg);}
    35% {background: rgb(255, 91, 91); top: 230px; left:10px; transform: rotate(1080deg);}
    50% {background: rgb(105, 105, 255); top: 5px; left:10px; transform: rotate(1440deg);}
    60% {background: rgb(105, 105, 255); top: 5px; left:580px;  transform: rotate(1800deg);}
    75% {background: rgb(116, 255, 116); top: 230px; left:580px; transform: rotate(2160deg);}
    85% {background: rgb(255, 91, 91); top: 230px; left:10px; transform: rotate(2520deg);}
    100% {background: rgb(255, 91, 91); top: 5px; left:10px; transform: rotate(2880deg);}
}
/*--------------------------------------------------------------------*/
/*-----------------------Exercice 5-----------------------------------*/
/*--------------------------------------------------------------------*/

#car1
{
    background: red;
    transform: rotateY(0deg) translateZ(75px);
}

#car2
{
    background: rgb(0, 60, 255);
    transform: rotateY(40deg) translateZ(75px);
}

#car3
{
    background: rgb(0, 255, 21);
    transform: rotateY(80deg) translateZ(75px) ;
}

#car4
{
    background: rgb(255, 0, 234);
    transform: rotateY(120deg) translateZ(75px); 
}

#car5
{
    background: rgb(255, 238, 0);
    transform: rotateY(160deg) translateZ(75px);
}

#car6
{
    background: rgb(47, 0, 255);
    transform: rotateY(200deg) translateZ(75px); 
}

#car7
{
    background: rgb(255, 51, 0);
    transform: rotateY(240deg) translateZ(75px); 
}

#car8
{
    background: rgb(0, 195, 255);
    transform: rotateY(280deg) translateZ(75px);
}

#car9
{
    background: rgb(255, 238, 0);
    transform:  rotateY(320deg) translateZ(75px); 
}

#plan5 
{
    position: relative;
    width: 500px;
    height: 400px;
    perspective: 900px;
    background: darkgrey;
    margin: auto;
}
  
#caroussel 
{
    position: absolute;
    transform-style: preserve-3d;
    top: 80px;
    left: 110px;
    animation: turn 4s infinite linear;
}
  
#caroussel div
{
	height: 5px;
	width: 5px;
	padding: 15px;
    position: absolute;
    border: 5px outset black;
}

@keyframes turn
{
	0%{
        transform: rotateX(0deg) rotateY(0deg);
        top: 80px;
        left: 110px;
    }

    25%{
        
        top: 80px;
        left: 380px;
    }


    50%{
        
        top: 280px;
        left: 380px;
    }

    75%{
        
        top: 280px;
        left: 80px;
    }

    
	100%{
        transform: rotateX(360deg) rotateY(720deg);
        top: 80px;
        left: 110px;
	}
}
/*--------------------------------------------------------------------*/
/*-----------------------Exercice chargement-----------------------------------*/
/*--------------------------------------------------------------------*/
  
#chargement
{
    width: 100px;
    height: 30px;
    background: black;
    border-radius: 10px;
    transition: 2s;
}


#chargement:hover
{
    width: 80vw;
}